.About-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.About-pfp {
  border-radius: 50%;
  max-width: 278px;
  height: 278px;
}

.bio-text {
  font-size: 16px;
}

.bio-text {
  font-size: 28px;
}

.bio-routes {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}

.bio-routes:hover {
  color: #0269a4;
}
